**/node_modules
**/build
**/dist
**/lib
!ndk-svelte-components/src/lib/
**/.vscode
justfile
package-lock.json
**/*.js
!.eslintrc.js
!svelte.config.js
!tailwind.config.js
!postcss.config.js
**/*.d.ts
**/*.d.ts.map
!light-bolt11-decoder.d.ts
*.tgz
.DS_Store
.turbo
_local_
.svelte-kit/
ndk/docs
