{
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": ["^[./]"],
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5",
    "printWidth": 80,
    "singleQuote": false,
    "semi": true
}
