{
    "useTabs": false,
    "tabWidth": 4,
    "singleQuote": false,
    "semi": true,
    "trailingComma": "es5",
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
