html,
body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    background: #222;
}

header.tsd-page-toolbar .tsd-toolbar-contents {
    height: auto;
    padding: 1rem;
}

header.tsd-page-toolbar a.title {
    background-image: url("https://raw.githubusercontent.com/nvk/ndk.fyi/master/ndk.svg");
    width: 40px;
    height: 40px;
    display: block;
    background-size: contain;
    color: transparent;
}

header.tsd-page-toolbar .tsd-toolbar-links a {
    font-weight: bold;
}
