:root {
    --color-shadow: rgba(0, 0, 0, 0.2);
    --color-border: #eaeaea;
    --color-bg: white;

    --color-primary: #0070f3;

    --connector-width: 4px;
    --connector-style: solid;
    --connector-color: var(--color-border);
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

.event-card .event-content img {
    /* fit content */
    width: 100%;
}