import { defineConfig } from "jsrepo";

export default defineConfig({
  registries: ["@nostr-dev-kit/svelte"],
  paths: {
    "*": "$lib/ndk/components",
    ui: "$lib/ndk/ui",
    hooks: "$lib/ndk/hooks",
    utils: "$lib/ndk/utils",
    icons: "$lib/ndk/icons",
    blocks: "$lib/ndk/blocks",
  },
});
