<script lang="ts">
  import { MediaUpload } from '$lib/registry/ui/media-upload';
  import type { MediaUploadResult } from '$lib/registry/ui/media-upload';

  let uploads = $state<MediaUploadResult[]>([]);
</script>

<MediaUpload.Root {ndk} bind:uploads>
  <MediaUpload.Button />

  {#each uploads as upload}
    <MediaUpload.Preview {upload} />
  {/each}
</MediaUpload.Root>
