<script lang="ts">
  import { createThreadView } from '@nostr-dev-kit/svelte';
  import ThreadViewTwitter from '$lib/registry/components/event-thread/thread-view-twitter.svelte';

  const thread = createThreadView(() => ({ focusedEvent: nevent }), ndk);
</script>

<ThreadViewTwitter {ndk} {thread} />
